<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HR Management Module</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/login.css">
	</head>


	<body>
		<% if(message) { %>
				<% if(message.type == 'success'){ %>
					<div class="alert alert-success h4"> 
						<strong><%= message.message %></strong>
					</div>
				<% } %>
		<% } %>

		<div class=title-block> 
			<h1 class="title-name">Human Resource Department</h1>
		</div>
		
		<div class="login-form">
			<h1 class="login-head h2 mb-3">Login</h1>
			<form action="/login" method="POST">
				<div class="mb-3">
					<label for="username" class="form-label">username</label>
					<input class="form-control" type="text" name="username" placeholder="Username" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">password</label>
					<input class="form-control" type="password" name="password" placeholder="Password" required>
				</div>

				<% if(message) { %>
						<% if(message.type == 'failed'){ %>
							<div class="alert-message"> 
								<strong><%= message.message %></strong>
							</div>
						<% } %>
				<% } %>

				<button class="login-btn w-100 btn btn-large" type="submit">Login</button>
				<div class="link-signup-box small"> <a class="link-signup" href="/signup">Don't have account? Sign Up!</a> </div>
			</form>
		</div>

		

	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</html>