.title-block {
  text-align: center;
  color: white;
}

.title-name {
  padding: 5%;
}

body {
  background-color: #B89ACF;
}

.login-head {
  padding-bottom: 2%;
}

.login-form {
  background-color: white; 
  width: 25%;
  margin: 10px auto;
  padding: 2%;
  border-radius: 25px;
}

.login-btn {
  width: auto;
  background-color: #90DACC;
  color: white;
  border-radius: 50px;
}

.link-signup-box {
  margin-top: 1%;
  text-align: center;
}

.link-signup {
  text-decoration: none;
  color: darkgray;
}

.link-signup:hover {
  color: dimgray;
}

.alert-message {
  text-align: center;
  margin: 2%;
  color: red;
}

.alert-success {
  text-align: center;
}

.success-message {
  text-align: center;
  margin: 2%;
  color: lightgreen;
}