<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>HR Management Module</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
		<style>
			.form-page {
				background: #434343;
				text-align: center;
				color: #FFFFFF;
				padding: 50px;
				width: 50%;
			}

			.form-box {
				margin-left: auto;
				margin-right: auto;
				width: 300px;
				padding: 0%;
				/* border: 1px solid aqua; */
			}

			input, textarea {
				width: 100%;
				margin: 5px;
			}

			label {
				width: 45%;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			select {
				width: 50%;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.submit-button {
				width: 30%;
				background-color: #8091E7;
				font-size: large;
				color: #FFFFFF;				
			}
		</style>
	</head>



	<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark">
			<a class="navbar-brand" href="index.html">Human Resource<br><span class="small">Department</span></a>
			<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
			
			<!-- Navbar -->
			<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>
			<ul class="navbar-nav ml-auto ml-md-0">
				<li class="nav-item mx-2 my-auto username">
					<%= username %>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="#">Settings</a>
						<a class="dropdown-item" href="#">Activity Log</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</li>
			</ul>
		</nav>

		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<a class="nav-link" href="/users">
								<div class="sb-nav-link-icon"><i class="fas fa-home"></i> </div>
								Home
							</a>
						</div>
					</div>
                    <div class="sb-sidenav-footer">
                        <a class="footer-form" href="form.html"> Form </a>
                    </div>
				</nav>
			</div>
			
			<div id="layoutSidenav_content" class="form-page">
				<main>
					<h1 style="margin-bottom: 50px;">Add New People</h1>
					<form method="post" class="form-box">
						<!-- <label for="type">Choose type:</label>
						<select name="type" required>
							<option value="Staff">Staff</option>
							<option value="Candidate">Candidate</option>>
						</select></br> -->
						<input type="text" name="staffID" placeholder="ID" ></br>
						<input type="text" name="firstName" placeholder="First Name" ></br>
						<input type="text" name="lastName" placeholder="Last Name" ></br>
						<label for="sex">Sex:</label>
						<select name="sex" >
							<option value="F">Female</option>
							<option value="M">Male</option>
						</select></br>
						<label for="status">Status:</label>
						<select name="status">
							<option value="-">-</option>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Divorced">Divorced</option>
						</select></br>
						<label for="DoB">Date of Birth:</label>
						<input type="date" id="DoB" name="DoB" style="width: 50%;" >
						<input type="email" name="email" placeholder="Email" ></br>
						<input type="tel" name="tel" placeholder="Tel No." ></br>
						<textarea name="address" rows="3" cols="30" placeholder="Address" ></textarea>
						</br></br>
						<input type="submit" value="Submit", class="submit-button">
					</form>
				</main>
			</div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>

	</body>




</html>



